@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}
:root {
  --var-fade_color: rgb(49, 48, 48);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
section {
  padding: 2rem;
}
#logo {
  font-size: 3.5rem;
  font-weight: bold;
  color: beige;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 7%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
#header .navbar a {
  font-size: 1.5rem;
  color: beige;
  margin: 0 1rem;
  text-decoration: none;
}
#header .navbar a:hover {
  border-bottom: 0.1rem solid bisque;
  padding-bottom: 0.5rem;
  color: aliceblue;
  transition: 0.2s;
}
#header .icons div {
  font-size: 1.3rem;
  color: white;
  margin-left: 1.5rem;
}
#header .icons div:hover {
  color: bisque;
  cursor: pointer;
}
#menu-btn {
  display: none;
}
#header .sub {
  position: absolute;
  right: 0;
  margin-right: 5rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 0.7rem 1.3rem;
  border: 2px solid aliceblue;
  border-radius: 8px;
}
#header .sub:hover {
  color: rgb(235, 235, 152);
  border: 2px solid rgb(235, 235, 152);
}
#header .sub a {
  font-weight: 600;
  color: beige;
  text-decoration: none;
}
#header .sub a:hover {
  color: rgb(235, 235, 152);
}
#header .icons div {
  font-size: 3.3rem;
}
/*Header end */
.banner {
  height: 100vh;
  width: 100%;
  background-image: url(images/pexels-fauxels-3184405.jpg),
    linear-gradient(90deg, rgba(58, 55, 233, 0.224), rgba(25, 6, 109, 0.233));
  background-size: cover;
  background-color: rgba(29, 29, 189, 0.429);
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
}
.banner .text-box {
  padding: 0rem 5rem;
}
.banner .text-box span {
  color: #e1d08d;
}
.banner .text-box h1 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  color: white;
  font-weight: 900;
  line-height: 1.2;
}
.banner .text-box p {
  font-size: 1.8rem;
  color: rgb(222, 222, 222);
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 2.2rem 0;
}
.banner .text-container #btn {
  padding: 1.2rem 2rem;
  background-color: #15151e;
  border: 2px solid #0072ff;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.banner .text-container #btn:hover {
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  margin-right: 2rem;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
/*Banner end*/
.service {
  width: 100%;
  height: auto;
  padding: 0 6rem;
}
.service .container-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0 4rem;
  padding-top: 2rem;
}
.service .container-1 .text-1 {
  flex: 1 1 45rem;
}
.service .container-1 .text-1 h1 {
  font-size: 2.8vw;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--var-fade_color);
  padding-bottom: 1.2rem;
}
.service .container-1 .text-2 {
  flex: 1 1 45rem;
}
.service .container-1 .text-2 p {
  font-size: 1.3vw;
  color: black;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.service .container-2 {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}
.service .container-2 .box-1 {
  flex: 28%;
  background-color: rgb(176, 229, 160);
  margin-top: 5rem;
  padding: 0rem 2rem;
  width: 100%;
  border-radius: 18px;
  height: 500px;
  overflow: hidden;
}
.service .container-2 .box-1 .view-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
}
.service .container-2 .box-1 .view-1 h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.service .container-2 .box-1 .view-1 a {
  font-size: 1.6rem;
  color: black;
  padding-top: 6px;
}
.service .container-2 .box-1 .img-bx1 {
  text-align: center;
  background-image: url(images/step-1.jpg);
  width: 100%;
  height: 25rem;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 18px;
  overflow: hidden;
}
.service .container-2 .box-1 h2 {
  font-size: 1.8rem;
  padding-top: 2.2rem;
  font-weight: 600;
}
.service .container-2 .box-1 p {
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.service .container-2 .box-2 {
  flex: 28%;
  background-color: rgb(157, 196, 232);
  margin-top: 10rem;
  padding: 0rem 2rem;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 18px;
}
.service .container-2 .box-2 .view-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
}
.service .container-2 .box-2 .view-1 h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.service .container-2 .box-2 .view-1 a {
  font-size: 1.6rem;
  color: black;
  padding-top: 6px;
}
.service .container-2 .box-2 .img-bx2 {
  text-align: center;
  background-image: url(images/step-2.jpg);
  width: 100%;
  height: 25rem;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 18px;
}
.service .container-2 .box-2 h2 {
  font-size: 1.8rem;
  padding-top: 2.2rem;
  font-weight: 600;
}
.service .container-2 .box-2 p {
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.service .container-2 .box-3 {
  flex: 28%;
  background-color: rgb(176, 229, 160);
  margin-top: 15rem;
  padding: 0rem 2rem;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 18px;
}
.service .container-2 .box-3 .view-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
}
.service .container-2 .box-3 .view-1 h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.service .container-2 .box-3 .view-1 a {
  font-size: 1.6rem;
  color: black;
  padding-top: 6px;
}
.service .container-2 .box-3 .img-bx3 {
  text-align: center;
  background-image: url(images/step-3.jpg);
  width: 100%;
  height: 25rem;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 18px;
}
.service .container-2 .box-3 h2 {
  font-size: 1.8rem;
  padding-top: 2.2rem;
  font-weight: 600;
}
.service .container-2 .box-3 p {
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.4;
}

.service .container-2 .box-4 {
  flex: 28%;
  background-color: rgb(157, 196, 232);
  margin-top: 0rem;
  padding: 0rem 2rem;
  width: 100%;
  border-radius: 18px;
  height: 500px;
  overflow: hidden;
}
.service .container-2 .box-4 .view-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
}
.service .container-2 .box-4 .view-1 h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.service .container-2 .box-4 .view-1 a {
  font-size: 1.6rem;
  color: black;
  padding-top: 6px;
}
.service .container-2 .box-4 .img-bx4 {
  text-align: center;
  background-image: url(images/step-4.jpg);
  width: 100%;
  height: 25rem;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 18px;
}
.service .container-2 .box-4 h2 {
  font-size: 1.8rem;
  padding-top: 2.2rem;
  font-weight: 600;
}
.service .container-2 .box-4 p {
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.4;
}

.service .container-2 .box-5 {
  flex: 28%;
  background-color: rgb(176, 229, 160);
  margin-top: 6rem;
  padding: 0rem 2rem;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 18px;
}
.service .container-2 .box-5 .view-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
}
.service .container-2 .box-5 .view-1 h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.service .container-2 .box-5 .view-1 a {
  font-size: 1.6rem;
  color: black;
  padding-top: 6px;
}
.service .container-2 .box-5 .img-bx5 {
  text-align: center;
  background-image: url(images/step-5.jpg);
  width: 100%;
  height: 25rem;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 18px;
}
.service .container-2 .box-5 h2 {
  font-size: 1.8rem;
  padding-top: 2.2rem;
  font-weight: 600;
}
.service .container-2 .box-5 p {
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.service .container-2 .box-6 {
  flex: 28%;
  background-color: rgb(157, 196, 232);
  margin-top: 12rem;
  padding: 0rem 2rem;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 18px;
}
.service .container-2 .box-6 .view-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.2rem;
}
.service .container-2 .box-6 .view-1 h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.service .container-2 .box-6 .view-1 a {
  font-size: 1.6rem;
  color: black;
  padding-top: 6px;
}
.service .container-2 .box-6 .img-bx6 {
  text-align: center;
  background-image: url(images/step-6.jpg);
  width: 100%;
  height: 25rem;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 18px;
}
.service .container-2 .box-6 h2 {
  font-size: 1.8rem;
  padding-top: 2.2rem;
  font-weight: 600;
}
.service .container-2 .box-6 p {
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.service .container-2 .box-1:hover a {
  color: white;
}
.service .container-2 .box-2:hover a {
  color: white;
}
.service .container-2 .box-3:hover a {
  color: white;
}
.service .container-2 .box-4:hover a {
  color: white;
}
.service .container-2 .box-5:hover a {
  color: white;
}
.service .container-2 .box-6:hover a {
  color: white;
}

.service .container-2 .box-1:hover {
  color: white;
  background-color: #15151e;
  box-shadow: 0px 15px 20px 0px rgb(128, 127, 127);
}
.service .container-2 .box-2:hover {
  color: white;
  background-color: #15151e;
  box-shadow: 0px 15px 20px 0px rgb(128, 127, 127);
}
.service .container-2 .box-3:hover {
  color: white;
  background-color: #15151e;
  box-shadow: 0px 15px 20px 0px rgb(128, 127, 127);
}
.service .container-2 .box-4:hover {
  color: white;
  background-color: #15151e;
  box-shadow: 0px 15px 20px 0px rgb(128, 127, 127);
}
.service .container-2 .box-5:hover {
  color: white;
  background-color: #15151e;
  box-shadow: 0px 15px 20px 0px rgb(128, 127, 127);
}
.service .container-2 .box-6:hover {
  color: white;
  background-color: #15151e;
  box-shadow: 0px 15px 20px 0px rgb(128, 127, 127);
}
/*Service end */
.unique {
  width: 100%;
  height: auto;
  padding: 3rem 6rem;
}
.unique .box-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.unique .box .box-row h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 900;
  color: black;
  padding-bottom: 2rem;
}

.unique .box .box-row .box1 {
  flex: 1 1 40rem;
  position: relative;
}
.unique .box .box-row .box1 .mini-box {
  width: 100%;
  height: auto;
}
.unique .box .box-row .box1 .space {
  display: none;
  position: relative;
}

.unique .box .box-row .mini-box p {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
  color: black;
  height: 10vh;
}
.numbertext {
  font-size: 14px;
  position: absolute;
  right: 0;
}
.one {
  right: 16rem;
  margin-top: 1.3rem;
  font-weight: 400;
  color: rgb(56, 53, 53);
}
.two {
  right: 3rem;
  margin-top: 1.3rem;
  color: rgb(41, 39, 39);
  font-weight: 600;
}
.action-div {
  height: 10vh;
  width: auto;
  padding-left: 2.5rem;
}
.next,
.prev {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  margin-top: 1.5rem;
}
.next {
  left: 10rem;
}
.line {
  position: absolute;
  right: 6rem;
  margin-top: 1.5rem;
}
.dot {
  cursor: pointer;
  height: 3px;
  width: 22px;
  margin: 0 2px;
  background-color: rgb(198, 190, 190);
  border-radius: 14px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: rgb(52, 49, 49);
  width: 28px;
  height: 3.5px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.unique .box .box-row .box2 {
  flex: 1 1 40rem;
}
.unique .box .box-row .box-2 .mini-box2 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}
.unique .box2 .mini-box2 h4 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: black;
  padding-bottom: 4rem;
  padding-top: 1rem;
  text-decoration: underline;
}
.unique .box2 .mini-box2 p {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.8rem 0;
  color: black;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer h2 {
  color: beige;
}
.footer .container {
  width: 100%;
}
.footer .container .row {
  display: flex;
  flex-wrap: wrap;
}
.footer .container .footer-col {
  width: 25%;
  padding: 15px 50px;
}
.footer .container .footer-col ul {
  list-style: none;
}
.footer .container .footer-col h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
/*for text h4 text style*/
.footer .container .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d9ff00;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer .container .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .container .footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}
.footer .container .footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}
.footer .container .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
}
.footer .container .footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

@media (max-width: 767px) {
  .footer .container .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 628px) {
  .footer .container .footer-col {
    width: 100%;
  }
}

.icon-box {
  position: absolute;
  right: 0;
  width: 20vh;
  height: auto;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#instagram,
#twitter,
#github,
#facebook {
  font-size: 1.5rem;
  color: #fff;
  box-shadow: inset 2px 2px 1px #15151e, inset 2px 2px 1px #15151e,
    inset 2px 2px 1px #15151e, inset 2px 2px 1px #15151e;
  border: none;
  margin-right: 2rem;
  padding: 1rem 0;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 10px #0072ff, 0 0 0.5px #0072ff, 0 0 0.5px #0072ff,
    0 0 0.5px #0072ff;
}
#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    color: beige;
    font-size: 2rem;
  }
  #header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 15rem;
    height: calc(100vh - 12.5rem);
    background: rgb(141, 137, 137);
  }
  #header .navbar.active {
    right: 0;
  }
  #header .navbar a {
    display: block;
    padding: 0.3rem;
    margin: 2rem;
    text-decoration: none;
    color: aliceblue;
  }
  #header .navbar a:hover {
    color: beige;
    border-bottom: none;
  }
  #header .sub {
    display: none;
  }
  .banner .text-box h1 {
    font-size: 3.7rem;
  }
  .banner .text-box p {
    font-size: 1.6rem;
  }
  .service {
    width: 100%;
    height: auto;
    padding: 0 3rem;
  }
}
@media (max-width: 1025px) {
  .service .container-1 .text-1 h1 {
    font-size: 2.6rem;
  }
  .service .container-1 .text-2 p {
    font-size: 1.6rem;
    padding-top: 1.2rem;
  }
  .service {
    width: 100%;
    height: auto;
    padding: 0 5rem;
  }
  .service .container-2 .box-1,
  .service .container-2 .box-4 {
    margin-top: 2rem;
  }
  .service .container-2 .box-2,
  .service .container-2 .box-5 {
    margin-top: 4rem;
  }
  .service .container-2 .box-3,
  .service .container-2 .box-6 {
    margin-top: 6rem;
  }
  .banner .text-container #btn {
    padding: 1rem 1.8rem;
    font-size: 2.2vw;
  }
  .service .container-2 .box-1 p,
  .service .container-2 .box-2 p,
  .service .container-2 .box-3 p,
  .service .container-2 .box-4 p,
  .service .container-2 .box-5 p,
  .service .container-2 .box-6 p {
    padding-bottom: 3rem;
  }
}
@media (max-width: 850px) {
  .service .container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service .container-2 .box-1,
  .service .container-2 .box-4 {
    width: 60%;
    margin-top: 2rem;
  }
  .service .container-2 .box-2,
  .service .container-2 .box-5 {
    width: 60%;
    margin-top: 2rem;
  }
  .service .container-2 .box-3,
  .service .container-2 .box-6 {
    width: 60%;
    margin-top: 2rem;
  }
  .service {
    width: 100%;
    height: auto;
    padding: 0 4rem;
  }
}
@media (max-width: 520px) {
  .service .container-2 .box-1,
  .service .container-2 .box-4 {
    width: 100%;
  }
  .service .container-2 .box-2,
  .service .container-2 .box-5 {
    width: 100%;
  }
  .service .container-2 .box-3,
  .service .container-2 .box-6 {
    width: 100%;
  }
  .service .container-2 .box-3 {
    margin-bottom: 3rem;
  }
  .service {
    width: 100%;
    height: auto;
    padding: 0 2rem;
  }
}
